<div class="container mt-5" >
  <form [formGroup]="contactForm" class="row g-3 form-contact"
  (ngSubmit)="submitForm()"

  >
    <div class="col-md-6">
      <label for="firstName" class="form-label">Nombre</label>
      <input type="firstName" class="form-control" id="firstName" formControlName="firstName" required>
    </div>
    <div class="col-md-6">
      <label for="lastName" class="form-label"> Apellido</label>
      <input type="lastName" class="form-control" id="lastName" formControlName="lastName" >
    </div>

    <div class="row m-0 p-0" formGroupName="address">
      <h5 class="col-12">Address</h5>

      <div class="col-6">
        <label for="street" class="form-label">street</label>
        <input type="text" class="form-control" id="street" formControlName="street">
      </div>
      <div class="col-6">
        <label for="city" class="form-label">city</label>
        <input type="text" class="form-control" id="city" formControlName="city">
      </div>
      <div class="col-12">
        <label for="email" class="form-label">email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
      </div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Enviar</button>
    </div>
  </form>
</div>


